body {
  animation: bgcolor infinite 20s;
  color: #FFFAF0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

@keyframes bgcolor{
  0%
  {
    background:#C4E538  ;
  }
  20%
  {
    background:#1289A7  ;
  }
  40%
  {
    background:#006266  ;
  }
  60%
  {
    background:#ED4C67 ;
  }
  80%
  {
    background:#5758BB  ;
  }
  100%
  {
    background:#ffda79 ;
  }
  
}
.exp-header {
  text-align: center;
  text-transform:uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1);
  
}

h1 {
  color: #FFFAF0;
  font-size: 50px;
  font-family: "Time New Roman";
  text-align: center;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1);
}

h6 {
  text-align: center;
}

img {
  width: 250px;
  float: center;
  margin: 0px 0px 0px 500px;
  height: 200px;
  width: 250px;
}
